.container {
  margin-top: 20px;
  padding: 5px 10px;
}
.navbar-brand {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 25px;
  color: rgb(0, 0, 0);
}


.animated-button {
    background-color: #ff0000;
    color: #ffffff;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }
  .animated-button:hover {
    transform: scale(1.2);
  }
  
  